<% provide(title: 'Password reset') %>

<h1>Reset Password</h1>
<%= form_for(:users, url: password_resets_path ) do |f| %>
    <div class="form-group">
        <label>Enter email:</label>
        <%= f.email_field :email, class: 'form-control' %>
    </div>
    
    <%= f.submit "Reset password", class: 'btn btn-warning'%>
<% end %>
