<%= form_for @post do |f| %>
    <div class="form-group">
        <%= f.text_area :content, class: 'form-control' %>
    </div>
    <%= f.submit yield(:button_text), class: 'btn btn-success' %>
<% end %>