<div class="post-<%= post.id %>" class="post mt-2">
    <%= gravatar_for(post.user) %>
    <span><%= post.content %></span>
    <div class="post-meta">
        <span class="date text-muted"><%= post.created_at %></span>
    </div>
</div>