// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

pre{
    margin-top: 2rem;
}

.post{
    position: relative;
    .edit-post{
        position: absolute;
        right: 5px;
        top: 5px;
        display: none;
    }
    &:hover > .edit-post{
        display: block
    }
    .post-date-time{
        line-height: auto;
        display: block;
        margin: 0px;
        padding: 0px;
        font-size: 10px;
        color: rgba(0,0,0,0.5);
    }
}
